<a href="https://colab.research.google.com/github/mhhussin/fileassingment1/blob/main/assingment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Assingment 1**


---


Muhammad Hafiezul Hafizz Bin Hussin

unu2200034@student.unitar.my

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#**1. Import data in the dataset into pandas data frame and show the first 8 rows**

In [2]:

url='https://github.com/mhhussin/fileassingment1/raw/main/cereals.csv'
df = pd.read_csv(url)
print(df.head(8))

                 Cereal name Supplier Cold or Hot  ...  potass  vitamins     rating
0                  100%_Bran        N           C  ...   280.0        25  68.402973
1          100%_Natural_Bran        Q           C  ...   135.0         0  33.983679
2                   All-Bran        K           C  ...   320.0        25  59.425505
3  All-Bran_with_Extra_Fiber        K           C  ...   330.0        25  93.704912
4             Almond_Delight        R           C  ...     NaN        25  34.384843
5    Apple_Cinnamon_Cheerios        G           C  ...    70.0        25  29.509541
6                Apple_Jacks        K           C  ...    30.0        25  33.174094
7                    Basic_4        G           C  ...   100.0        25  37.038562

[8 rows x 13 columns]

#**2. Determine the number of record in the datasets**

In [ ]:
#method 1, using len()
print('The number of records in the dataset =',len(df))

The number of records in the dataset = 77

In [ ]:
#method 2, using index and size
print('The number of records in the dataset =',df.index.size)

The number of records in the dataset = 77

#**3.Show the data type of the coloumns in the dataframe**

In [ ]:

df.info()

#**4. Add a caculated column 'totalcarbo' which is the sum of carbo and sugar**

In [ ]:
df['totalcarbo']=df['carbo']+df['sugars']     #creating a new column called as totalcarbo
                                              #display of columns carbo,sugar and total carbo to verify the the operation runs correctly
df[['carbo','sugars','totalcarbo']].head(10)  #only display the first 10 elements

#**5.Identify the number of 'cold' cereal in the dataframe'**

In [ ]:
cold_cereal= df[df['Cold or Hot']=='C']                 # selecting rows with C values for Cold or Hot columns
print('The number of cod cereal is =',len(cold_cereal)) # get the number of cold cereals in the dataframe

The number of cod cereal is = 74

#**6. Identify the number of suppliers in the datasets**

In [ ]:
df_supplier=df.groupby('Supplier')['Supplier'].count() # group the dataset by supplier name
df_supplier                                            # then count the number supplier in the dataset

In [ ]:
num_of_supplier= df_supplier.index.size     #get the size from the number of records in df_supplier
                                            #store the number in num_of_supplier
                                            #another way we couuld use len(df_supplier) to get the number fo supplier
print('The number of supplier the the dataset =',num_of_supplier)

#**7. Create another data frame containing all cereals whose 'carbo' is between 5 and 10 units inclusive**

In [ ]:
df_5To10_carbo=pd.DataFrame(df[(df['carbo']>=5) & (df['carbo']<=10)]) #creating new dataframe from the original df 
                                                                      #selecting only the record with the carbo value between 5 to 10
print('There are',df_5To10_carbo.index.size,'records with carbo between 5 to 10 inclusive\n')
df_5To10_carbo

#**8.Create another dataframe containing the name, carbo, and sugar for cereals with 0 fat**

In [ ]:
#method 1
df_noFat1=pd.DataFrame(df.loc[df['fat']==0,['Cereal name','carbo','sugars']]) #locate all the rows with zero fat, and
                                                                              #only select the cereal name,carbo and sugar columns
                                                                              #df_noFat is created from the combinaton of these columns
print('There are',len(df_noFat1),'records for cereal with 0 Fat content')
df_noFat1.head(3)

#**9.Change the name column supplier to distributor**

In [ ]:
df_rename= df.rename(columns={    # Create new df called df rename 
    'Supplier':'Distributor'      # change the the column name Supplier to Distributor
})

df_rename.head(10)                # Display only the first 10 rows

#**10.Create a scatter plot with 'calories' on the x-axis and 'carbo' on the y axis**

In [ ]:
df.plot(kind='scatter',x='calories',y='carbo',title='carbo VS calories')

#**11. Create a Bar Chart (barplot) with the distributors against the number of cereal that they distribute**

In [ ]:
df_rename['Distributor'].value_counts().plot(kind='bar', title='Distributor vs number of cereal',color='purple')

#**12.List the name of all objects found in the workspace**

In [ ]:
df.describe(include=object).columns

Index(['Cereal name', 'Supplier', 'Cold or Hot'], dtype='object')


#**13. Createa a vector called 'fat_amnt' with the data from the coloumn 'fat' and show :**
1. minimum
2. mean
3. maximum
**values**

In [ ]:
fat_amnt=df['fat'].to_numpy()
print('1. Minimum amount of fat =',fat_amnt.min())
print('2. Mean amount of fat =',fat_amnt.mean())
print('3. Maximum amount of fat =',fat_amnt.max())

#**14.Write a function that takes three inputs parameters : 'mintCalories','maxCalories',and 'range'. Assuming range is a vector of numerical ids, the fuction will iterrate the records print the row if the calories of the cereal falls in the range 'minCalories' to 'maxCalories'.** *you need to use for loops and if statements*

In [3]:

def getCalories(minCal,maxCal,_range):  #define the function
  df_temp=pd.DataFrame()                #create temporary empty dataframe to store the row when we iterate through the rows
  df_cummulative=pd.DataFrame()         #create empty dataframe to append the df_temp
  for i in _range:                      #loop through the range or rows passed in the _range parameter
    if((df.loc[i,'calories']>=minCal)&(df.loc[i,'calories']<=maxCal)): #conditional statements
      df_temp=df.loc[i]                               #rows statisfied teh condition will be stored in the df_temp
      df_cummulative= df_cummulative.append(df_temp)  #value in df_temp is then append to df_cummulative
  return df_cummulative                               #eventually all the row that statisfy the condition will all be stored in the df_cummulative
                                                      #df_cummulative will be return to the function call

In [4]:
_range=pd.Series(range(0,len(df)))    # create a vector of numerical ids, between 0 to len(df)
getCalories(0,50,_range[0:200])       # function getCalories is called

                  Cereal name Supplier Cold or Hot  ...  potass  vitamins     rating
3   All-Bran_with_Extra_Fiber        K           C  ...   330.0      25.0  93.704912
54                Puffed_Rice        Q           C  ...    15.0       0.0  60.756112
55               Puffed_Wheat        Q           C  ...    50.0       0.0  63.005645

[3 rows x 13 columns]

#**15 Test the above function by making at least 10 diffferent function calls**

In [5]:
df.agg({                              # to check the max, min and median values of calories
    'calories':['max','min','median']
})

        calories
max        160.0
min         50.0
median     110.0

In [6]:
import random                                       #importing random library
import math
number_of_call=0                                    #initialise the number of call 
call=0                                              #and call to zero
while number_of_call<10:                            #loop then times
  minCal=random.randint(0,df['calories'].median())                     #generating random number between 0 the median value in calories
  maxCal=random.randint(df['calories'].median(),df['calories'].max())  #generating random number between median and max in calories
  startRange = random.randint(0,math.floor(len(df)/2))                 # generating a random number for the start of the range
  endRange = random.randint(math.floor(len(df)/2),len(df))             # generating a random number for the end of the range
    
  print(call+1,'function call')                                                                        #printing the number of call been made to the scree
  print('minCalories =',minCal,'|','MaxCalories =',maxCal,'|','_range :',startRange,'to',endRange)     #printing the generated mincal,maxcal and range to the screen
  result=getCalories(minCal,maxCal,_range[startRange:endRange+1])[['Cereal name','Supplier','calories']] #get only the cereal name, supplier a dn coloriws column and store the output into result
  print(len(result),'rows is selected')             #get the number of rows                               wnd range+1 because we want to also include the end of the range number into _range
  print(result)                                     #print the result with the selected rows to the screen
                                                                                             
  number_of_call+=1                                 #increase the number_of_call
  call+=1                                           # and call variable by one for every call
  print('\n\n\n')                                   # create spaces between every table print

1 function call
minCalories = 1 | MaxCalories = 151 | _range : 37 to 46
9 rows is selected
                          Cereal name Supplier  calories
37                         Honey-comb        P     110.0
38        Just_Right_Crunchy__Nuggets        K     110.0
39             Just_Right_Fruit_&_Nut        K     140.0
40                                Kix        G     110.0
41                               Life        Q     100.0
42                       Lucky_Charms        G     110.0
43                              Maypo        A     100.0
44   Muesli_Raisins,_Dates,_&_Almonds        R     150.0
45  Muesli_Raisins,_Peaches,_&_Pecans        R     150.0




2 function call
minCalories = 100 | MaxCalories = 152 | _range : 21 to 50
28 rows is selected
                               Cereal name Supplier  calories
21                                 Crispix        K     110.0
22                  Crispy_Wheat_&_Raisins        G     100.0
23                             Double_Chex        R     100.0
24                             Froot_Loops        K     110.0
25                          Frosted_Flakes        K     110.0
26                     Frosted_Mini-Wheats        K     100.0
27  Fruit_&_Fibre_Dates,_Walnuts,_and_Oats        P     120.0
28                           Fruitful_Bran        K     120.0
29                          Fruity_Pebbles        P     110.0
30                            Golden_Crisp        P     100.0
31                          Golden_Grahams        G     110.0
32                       Grape_Nuts_Flakes        P     100.0
33                              Grape-Nuts        P     110.0
34                      Great_Grains_Pecan        P     120.0
35                        Honey_Graham_Ohs        Q     120.0
36                      Honey_Nut_Cheerios        G     110.0
37                              Honey-comb        P     110.0
38             Just_Right_Crunchy__Nuggets        K     110.0
39                  Just_Right_Fruit_&_Nut        K     140.0
40                                     Kix        G     110.0
41                                    Life        Q     100.0
42                            Lucky_Charms        G     110.0
43                                   Maypo        A     100.0
44        Muesli_Raisins,_Dates,_&_Almonds        R     150.0
45       Muesli_Raisins,_Peaches,_&_Pecans        R     150.0
47                    Multi-Grain_Cheerios        G     100.0
48                        Nut&Honey_Crunch        K     120.0
49               Nutri-Grain_Almond-Raisin        K     140.0




3 function call
minCalories = 58 | MaxCalories = 111 | _range : 25 to 65
26 rows is selected
                    Cereal name Supplier  calories
25               Frosted_Flakes        K     110.0
26          Frosted_Mini-Wheats        K     100.0
29               Fruity_Pebbles        P     110.0
30                 Golden_Crisp        P     100.0
31               Golden_Grahams        G     110.0
32            Grape_Nuts_Flakes        P     100.0
33                   Grape-Nuts        P     110.0
36           Honey_Nut_Cheerios        G     110.0
37                   Honey-comb        P     110.0
38  Just_Right_Crunchy__Nuggets        K     110.0
40                          Kix        G     110.0
41                         Life        Q     100.0
42                 Lucky_Charms        G     110.0
43                        Maypo        A     100.0
47         Multi-Grain_Cheerios        G     100.0
50            Nutri-grain_Wheat        K      90.0
53                   Product_19        K     100.0
56           Quaker_Oat_Squares        Q     100.0
57               Quaker_Oatmeal        Q     100.0
59              Raisin_Nut_Bran        G     100.0
60               Raisin_Squares        K      90.0
61                    Rice_Chex        R     110.0
62                Rice_Krispies        K     110.0
63               Shredded_Wheat        N      80.0
64       Shredded_Wheat_'n'Bran        N      90.0
65    Shredded_Wheat_spoon_size        N      90.0




4 function call
minCalories = 20 | MaxCalories = 128 | _range : 11 to 62
46 rows is selected
                               Cereal name Supplier  calories
11                                Cheerios        G     110.0
12                   Cinnamon_Toast_Crunch        G     120.0
13                                Clusters        G     110.0
14                             Cocoa_Puffs        G     110.0
15                               Corn_Chex        R     110.0
16                             Corn_Flakes        K     100.0
17                               Corn_Pops        K     110.0
18                           Count_Chocula        G     110.0
19                      Cracklin'_Oat_Bran        K     110.0
20                  Cream_of_Wheat_(Quick)        N     100.0
21                                 Crispix        K     110.0
22                  Crispy_Wheat_&_Raisins        G     100.0
23                             Double_Chex        R     100.0
24                             Froot_Loops        K     110.0
25                          Frosted_Flakes        K     110.0
26                     Frosted_Mini-Wheats        K     100.0
27  Fruit_&_Fibre_Dates,_Walnuts,_and_Oats        P     120.0
28                           Fruitful_Bran        K     120.0
29                          Fruity_Pebbles        P     110.0
30                            Golden_Crisp        P     100.0
31                          Golden_Grahams        G     110.0
32                       Grape_Nuts_Flakes        P     100.0
33                              Grape-Nuts        P     110.0
34                      Great_Grains_Pecan        P     120.0
35                        Honey_Graham_Ohs        Q     120.0
36                      Honey_Nut_Cheerios        G     110.0
37                              Honey-comb        P     110.0
38             Just_Right_Crunchy__Nuggets        K     110.0
40                                     Kix        G     110.0
41                                    Life        Q     100.0
42                            Lucky_Charms        G     110.0
43                                   Maypo        A     100.0
47                    Multi-Grain_Cheerios        G     100.0
48                        Nut&Honey_Crunch        K     120.0
50                       Nutri-grain_Wheat        K      90.0
52                   Post_Nat._Raisin_Bran        P     120.0
53                              Product_19        K     100.0
54                             Puffed_Rice        Q      50.0
55                            Puffed_Wheat        Q      50.0
56                      Quaker_Oat_Squares        Q     100.0
57                          Quaker_Oatmeal        Q     100.0
58                             Raisin_Bran        K     120.0
59                         Raisin_Nut_Bran        G     100.0
60                          Raisin_Squares        K      90.0
61                               Rice_Chex        R     110.0
62                           Rice_Krispies        K     110.0




5 function call
minCalories = 12 | MaxCalories = 146 | _range : 14 to 52
36 rows is selected
                               Cereal name Supplier  calories
14                             Cocoa_Puffs        G     110.0
15                               Corn_Chex        R     110.0
16                             Corn_Flakes        K     100.0
17                               Corn_Pops        K     110.0
18                           Count_Chocula        G     110.0
19                      Cracklin'_Oat_Bran        K     110.0
20                  Cream_of_Wheat_(Quick)        N     100.0
21                                 Crispix        K     110.0
22                  Crispy_Wheat_&_Raisins        G     100.0
23                             Double_Chex        R     100.0
24                             Froot_Loops        K     110.0
25                          Frosted_Flakes        K     110.0
26                     Frosted_Mini-Wheats        K     100.0
27  Fruit_&_Fibre_Dates,_Walnuts,_and_Oats        P     120.0
28                           Fruitful_Bran        K     120.0
29                          Fruity_Pebbles        P     110.0
30                            Golden_Crisp        P     100.0
31                          Golden_Grahams        G     110.0
32                       Grape_Nuts_Flakes        P     100.0
33                              Grape-Nuts        P     110.0
34                      Great_Grains_Pecan        P     120.0
35                        Honey_Graham_Ohs        Q     120.0
36                      Honey_Nut_Cheerios        G     110.0
37                              Honey-comb        P     110.0
38             Just_Right_Crunchy__Nuggets        K     110.0
39                  Just_Right_Fruit_&_Nut        K     140.0
40                                     Kix        G     110.0
41                                    Life        Q     100.0
42                            Lucky_Charms        G     110.0
43                                   Maypo        A     100.0
47                    Multi-Grain_Cheerios        G     100.0
48                        Nut&Honey_Crunch        K     120.0
49               Nutri-Grain_Almond-Raisin        K     140.0
50                       Nutri-grain_Wheat        K      90.0
51                    Oatmeal_Raisin_Crisp        G     130.0
52                   Post_Nat._Raisin_Bran        P     120.0




6 function call
minCalories = 102 | MaxCalories = 119 | _range : 4 to 40
20 rows is selected
                    Cereal name Supplier  calories
4                Almond_Delight        R     110.0
5       Apple_Cinnamon_Cheerios        G     110.0
6                   Apple_Jacks        K     110.0
11                     Cheerios        G     110.0
13                     Clusters        G     110.0
14                  Cocoa_Puffs        G     110.0
15                    Corn_Chex        R     110.0
17                    Corn_Pops        K     110.0
18                Count_Chocula        G     110.0
19           Cracklin'_Oat_Bran        K     110.0
21                      Crispix        K     110.0
24                  Froot_Loops        K     110.0
25               Frosted_Flakes        K     110.0
29               Fruity_Pebbles        P     110.0
31               Golden_Grahams        G     110.0
33                   Grape-Nuts        P     110.0
36           Honey_Nut_Cheerios        G     110.0
37                   Honey-comb        P     110.0
38  Just_Right_Crunchy__Nuggets        K     110.0
40                          Kix        G     110.0




7 function call
minCalories = 65 | MaxCalories = 131 | _range : 15 to 73
51 rows is selected
                               Cereal name Supplier  calories
15                               Corn_Chex        R     110.0
16                             Corn_Flakes        K     100.0
17                               Corn_Pops        K     110.0
18                           Count_Chocula        G     110.0
19                      Cracklin'_Oat_Bran        K     110.0
20                  Cream_of_Wheat_(Quick)        N     100.0
21                                 Crispix        K     110.0
22                  Crispy_Wheat_&_Raisins        G     100.0
23                             Double_Chex        R     100.0
24                             Froot_Loops        K     110.0
25                          Frosted_Flakes        K     110.0
26                     Frosted_Mini-Wheats        K     100.0
27  Fruit_&_Fibre_Dates,_Walnuts,_and_Oats        P     120.0
28                           Fruitful_Bran        K     120.0
29                          Fruity_Pebbles        P     110.0
30                            Golden_Crisp        P     100.0
31                          Golden_Grahams        G     110.0
32                       Grape_Nuts_Flakes        P     100.0
33                              Grape-Nuts        P     110.0
34                      Great_Grains_Pecan        P     120.0
35                        Honey_Graham_Ohs        Q     120.0
36                      Honey_Nut_Cheerios        G     110.0
37                              Honey-comb        P     110.0
38             Just_Right_Crunchy__Nuggets        K     110.0
40                                     Kix        G     110.0
41                                    Life        Q     100.0
42                            Lucky_Charms        G     110.0
43                                   Maypo        A     100.0
47                    Multi-Grain_Cheerios        G     100.0
48                        Nut&Honey_Crunch        K     120.0
50                       Nutri-grain_Wheat        K      90.0
51                    Oatmeal_Raisin_Crisp        G     130.0
52                   Post_Nat._Raisin_Bran        P     120.0
53                              Product_19        K     100.0
56                      Quaker_Oat_Squares        Q     100.0
57                          Quaker_Oatmeal        Q     100.0
58                             Raisin_Bran        K     120.0
59                         Raisin_Nut_Bran        G     100.0
60                          Raisin_Squares        K      90.0
61                               Rice_Chex        R     110.0
62                           Rice_Krispies        K     110.0
63                          Shredded_Wheat        N      80.0
64                  Shredded_Wheat_'n'Bran        N      90.0
65               Shredded_Wheat_spoon_size        N      90.0
66                                  Smacks        K     110.0
67                               Special_K        K     110.0
68                 Strawberry_Fruit_Wheats        N      90.0
69                       Total_Corn_Flakes        G     110.0
71                       Total_Whole_Grain        G     100.0
72                                 Triples        G     110.0
73                                    Trix        G     110.0




8 function call
minCalories = 28 | MaxCalories = 111 | _range : 26 to 43
13 rows is selected
                    Cereal name Supplier  calories
26          Frosted_Mini-Wheats        K     100.0
29               Fruity_Pebbles        P     110.0
30                 Golden_Crisp        P     100.0
31               Golden_Grahams        G     110.0
32            Grape_Nuts_Flakes        P     100.0
33                   Grape-Nuts        P     110.0
36           Honey_Nut_Cheerios        G     110.0
37                   Honey-comb        P     110.0
38  Just_Right_Crunchy__Nuggets        K     110.0
40                          Kix        G     110.0
41                         Life        Q     100.0
42                 Lucky_Charms        G     110.0
43                        Maypo        A     100.0




9 function call
minCalories = 72 | MaxCalories = 158 | _range : 10 to 49
39 rows is selected
                               Cereal name Supplier  calories
10                            Cap'n'Crunch        Q     120.0
11                                Cheerios        G     110.0
12                   Cinnamon_Toast_Crunch        G     120.0
13                                Clusters        G     110.0
14                             Cocoa_Puffs        G     110.0
15                               Corn_Chex        R     110.0
16                             Corn_Flakes        K     100.0
17                               Corn_Pops        K     110.0
18                           Count_Chocula        G     110.0
19                      Cracklin'_Oat_Bran        K     110.0
20                  Cream_of_Wheat_(Quick)        N     100.0
21                                 Crispix        K     110.0
22                  Crispy_Wheat_&_Raisins        G     100.0
23                             Double_Chex        R     100.0
24                             Froot_Loops        K     110.0
25                          Frosted_Flakes        K     110.0
26                     Frosted_Mini-Wheats        K     100.0
27  Fruit_&_Fibre_Dates,_Walnuts,_and_Oats        P     120.0
28                           Fruitful_Bran        K     120.0
29                          Fruity_Pebbles        P     110.0
30                            Golden_Crisp        P     100.0
31                          Golden_Grahams        G     110.0
32                       Grape_Nuts_Flakes        P     100.0
33                              Grape-Nuts        P     110.0
34                      Great_Grains_Pecan        P     120.0
35                        Honey_Graham_Ohs        Q     120.0
36                      Honey_Nut_Cheerios        G     110.0
37                              Honey-comb        P     110.0
38             Just_Right_Crunchy__Nuggets        K     110.0
39                  Just_Right_Fruit_&_Nut        K     140.0
40                                     Kix        G     110.0
41                                    Life        Q     100.0
42                            Lucky_Charms        G     110.0
43                                   Maypo        A     100.0
44        Muesli_Raisins,_Dates,_&_Almonds        R     150.0
45       Muesli_Raisins,_Peaches,_&_Pecans        R     150.0
47                    Multi-Grain_Cheerios        G     100.0
48                        Nut&Honey_Crunch        K     120.0
49               Nutri-Grain_Almond-Raisin        K     140.0




10 function call
minCalories = 30 | MaxCalories = 139 | _range : 22 to 49
23 rows is selected
                               Cereal name Supplier  calories
22                  Crispy_Wheat_&_Raisins        G     100.0
23                             Double_Chex        R     100.0
24                             Froot_Loops        K     110.0
25                          Frosted_Flakes        K     110.0
26                     Frosted_Mini-Wheats        K     100.0
27  Fruit_&_Fibre_Dates,_Walnuts,_and_Oats        P     120.0
28                           Fruitful_Bran        K     120.0
29                          Fruity_Pebbles        P     110.0
30                            Golden_Crisp        P     100.0
31                          Golden_Grahams        G     110.0
32                       Grape_Nuts_Flakes        P     100.0
33                              Grape-Nuts        P     110.0
34                      Great_Grains_Pecan        P     120.0
35                        Honey_Graham_Ohs        Q     120.0
36                      Honey_Nut_Cheerios        G     110.0
37                              Honey-comb        P     110.0
38             Just_Right_Crunchy__Nuggets        K     110.0
40                                     Kix        G     110.0
41                                    Life        Q     100.0
42                            Lucky_Charms        G     110.0
43                                   Maypo        A     100.0
47                    Multi-Grain_Cheerios        G     100.0
48                        Nut&Honey_Crunch        K     120.0